@font-face {
    font-family: 'figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 900; /* Range of font weights supported */
    font-style: normal;
}


html,body {
    height: 100%;
    font-family: 'figtree';
    margin: 0;
    padding: 0;
}

body{
    background-color: #F4D04E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: min-content;
    border-radius: 20px;
    border: 1px solid #111111;
    box-shadow: 6px 6px #111111;
    margin: 20px auto;
}
.wrapper img {
    border-radius: 10px;
}

.Blog {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Blog h4 {
    background-color: #F4D04E;
    color: #111111;
    width: fit-content;
    font-variation-settings: "wght" 800;
    font-size: 14px;
    margin: 0;
}
.publish{
    font-size: 14px;
    font-variation-settings: "wght" 500;
    color: #111111;
    margin: 0;
}
.wrapper h2 {
    margin: 0;
    color: #111111;
    font-size: 24px;
    font-variation-settings: "wght" 800;
}
.wrapper h2:hover {
    color: #F4D04E;
}
.Long {
    color: #6B6B6B;
    font-size: 16px;
    font-variation-settings: "wght" 500;
    margin: 0;
}
.author{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    gap: 12px;
}
.avatar {
    width: 32px;
    height: 32px;
}
.name {
    color: #111111;
    font-size: 14px;
    font-variation-settings: 'wght' 800;
    margin: 5.5px 0;
}


@media screen and (max-width: 400px) {
    .wrapper{
        width: calc(80vw - 10vw);
    }
}
